.summary-container {
    background-color: white;
    max-width: 600px;
    margin: auto;
    color: black;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
}

.section-header {
    font-size: 200%;
    font-weight: bold;
}

.section-content {
    margin-bottom: 20px;
}

.transparent_background {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}